<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="rail" opened="true">
    <mat-nav-list class="dashboard">
        <a mat-list-item (click)="toggleActive($event)">
          <mat-icon mat-list-icon >account_circle</mat-icon>
          <p matLine>Name</p>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item (click)="toggleActive($event)">
						<mat-icon mat-list-icon>inbox</mat-icon>
						<p matLine>Inbox</p>
				</a>
        <a mat-list-item (click)="toggleActive($event)">
						<mat-icon mat-list-icon>star</mat-icon>
						<p matLine>Starred</p>
				</a>
        <a mat-list-item (click)="toggleActive($event)">
						<mat-icon mat-list-icon>drafts</mat-icon>
						<p matLine >Drafts</p>
				</a>
    </mat-nav-list>
  </mat-sidenav>
  <app-top-nav fxHide.xs></app-top-nav>
  <router-outlet></router-outlet>
  <div fxFlex></div>
</mat-sidenav-container>
